{% extends "index.html" %}
{% block title %}Для родителей{% endblock %}
{% block content %}
<div class="container">
    <h2>Родителям</h2>
    Общее количество мест для приема в первый класс СОШ №35 в 2023 году - 110.<br><br>

    Заявление о приеме на обучение и документы для приема на обучение в МОУ СОШ №35 принимаются в 13-17 часов 29 марта 2023 года.<br><br>

    Подать заявление можно:<br><br>

    По субботам: с 13.30 до 16 часов ( по 29.04 2023 г. ).<br><br>

    По вторникам: с 13:00 до 15:00 часов (до 30.06.2023 г.)<br><br>

    <h3>Уважаемые родители будущих первоклассников!</h3>

    Советуем подготовиться к школе заранее:<br><br>

    <b>Школьная форма</b><br><br>

    В локальном акте № 2 «Правила внутреннего распорядка обучающихся МОУ «СОШ № 1» г. Вологды» говорится, что учащиеся присутствуют на занятиях в одежде, определенного Уставом школы образца (деловой костюм). <br><br>
    
    У учащихся начальной школы это форма тёмно-синего цвета.<br><br>

    Форма мальчиков – брюки и жилет (пиджак – по желанию).<br><br>
    
    Форма девочек – сарафан (модель Ф-20).<br><br>

    <b>Канцелярские принадлежности</b><br><br>

    <ul>
        <li>Ранец.</li>
        <li>Пенал. В пенал вложить 2 шариковые ручки с синей или фиолетовой пастой, 2 простых карандаша, ластик, точилку для карандашей.</li>
        <li>Набор цветных карандашей (достаточно 12 карандашей).</li>
        <li>10 тетрадей в обычную клетку (не крупную!) и 10 тетрадей в косую линейку.</li>
        <li>Папка по изобразительному искусству. В папку вложить альбом, акварельные краски (по своему выбору), гуашь (достаточно 6 цветов), восковые мелки, 2 простых карандаша, ластик, 2 – 3 кисточки разной толщины.</li>
    </ul>
</div>

{% endblock %}