{% extends "index.html" %}
{% block title %}Главная{% endblock %}
{% block content %}

<script>
    let carousels = document.getElementsByClassName("carousel");
    for (let item of carousels) {
        item.carousel();
    }
</script>

<div class="container main-content">
    <div class="offer">
        <h2>Уважаемые учителя, родители и учащиеся!</h2>
        <p>Мы рады Вас приветствовать на сайте нашей школы! <br>На нашем сайте вы найдете много интересного - новости школы, информацию о событиях, узнаете о наших достижениях.</p>
    </div>
    <h3>О нас</h3>
    <p>Нашей школе — 85 лет.<br><br>

        Школа открыта в 1937 году и носила имя М. Горького. С первых лет своего существования школа развивалась как педагогическая среда, сочетающая в себе основные направления «советской школы»: соединение в одних стенах и «физиков» и «лириков», сочетание технократического и гуманитарного подходов к развитию личности. Педагогический коллектив всегда стремился воспитать многогранно развитых и высоко нравственных людей.<br><br>

        
        В этом учебном году в школе 38 классов: в начальной школе — 15 классов, в основной (общей) школе — 19 классов, в средней (полной) школе — 4 класса. В ученическом коллективе — 1106 учащихся.<br><br>

        
        В школе работают 74 педагога. Из них в начальной школе работают — 15, 1 педагог-психолог, 1 социальный педагог, 2 воспитателя ГПД. Подробную информацию о коллективе Вы можете найти здесь.<br><br>

        
        Школа работает 6 дней (1–6 классы — 5 дней) в две смены. В первую смену учатся 1, 5, 8–11 классы, во вторую — 2–4, 6, 7 классы.<br><br>

        
        Школа № 49 является элементом системы образования Кировского района г. Ярославля и предназначена содействовать развитию и социализации личности учащихся через получение ими среднего общего образования высокого качества, необходимого и достаточного для продолжения обучения в учреждениях высшего профессионального образования.<br><br>

        
        Школа находится в центральном районе города, имеет благоприятное социально-культурное окружение и обеспечивает взаимодействие с различными учреждениями:<br>

    <h3>Новости</h3>

    <!-- <div class="container">
        <h2 class="text-center"> Carousel slides with captions </h2>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="c1.jfif" class="d-block w-100" alt="image1">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide </h5>
                      <p>So we learnt how to add captions to slides.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="c2.jfif" class="d-block w-100" alt="image2">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide </h5>
                      <p>So we learnt how to add captions to slides.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="c3.jfif" class="d-block w-100" alt="image3">
                    <div class="carousel-caption d-none d-md-block ">
                      <h5>Third slide </h5>
                      <p>So we learnt how to add captions to slides.</p>
                    </div>
                </div>
            </div>	
        </div>
     </div> -->

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">
          {% for new in news %}

          <a class="carousel-item {% if new.id == 0 %}active{% endif %}"
             href="/new?new_id={{ new.id }}">
            <div class="d-block w-100"
            style="height: 400px;
            width: 100%;
            display: block;
            background: linear-gradient(0deg, rgba(0,0,0,.4), rgba(0,0,0,.4)), url(/{{ new.image_url }});
            background-position: center;
            background-size: cover"></div>
            <div class="carousel-caption">
              <h3>{{ new.title }}</h3>
            </div>
          </a>

          {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden"></span>
      </button>
    </div>

    </div>
{% endblock %}