{% extends "index.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <h2>Уважаемые учителя, родители и учащиеся!</h2>
    <p>Мы рады Вас приветствовать на сайте нашей школы! На нашем сайте вы найдете много интересного - новости школы, информацию о событиях, узнаете о наших достижениях.</p>
    <h3>О нас</h3>
    <p>Нашей школе — 85 лет.<br><br>

        Школа открыта в 1937 году и носила имя М. Горького. С первых лет своего существования школа развивалась как педагогическая среда, сочетающая в себе основные направления «советской школы»: соединение в одних стенах и «физиков» и «лириков», сочетание технократического и гуманитарного подходов к развитию личности. Педагогический коллектив всегда стремился воспитать многогранно развитых и высоко нравственных людей.<br><br>

        
        В этом учебном году в школе 38 классов: в начальной школе — 15 классов, в основной (общей) школе — 19 классов, в средней (полной) школе — 4 класса. В ученическом коллективе — 1106 учащихся.<br><br>

        
        В школе работают 74 педагога. Из них в начальной школе работают — 15, 1 педагог-психолог, 1 социальный педагог, 2 воспитателя ГПД. Подробную информацию о коллективе Вы можете найти здесь.<br><br>

        
        Школа работает 6 дней (1–6 классы — 5 дней) в две смены. В первую смену учатся 1, 5, 8–11 классы, во вторую — 2–4, 6, 7 классы.<br><br>

        
        Школа № 49 является элементом системы образования Кировского района г. Ярославля и предназначена содействовать развитию и социализации личности учащихся через получение ими среднего общего образования высокого качества, необходимого и достаточного для продолжения обучения в учреждениях высшего профессионального образования.<br><br>

        
        Школа находится в центральном районе города, имеет благоприятное социально-культурное окружение и обеспечивает взаимодействие с различными учреждениями:<br>

        
        <ul>
            <li>Учреждения дополнительного образования:
            <ul>
            <li>Школа искусств № 9 им. Алмазова.</li>
            <li>Школа искусств № 1.</li>
            <li>Городской центр внеклассной и воспитательной работы.</li>
            </ul>
            </li>
            <li>Библиотеки:
            <ul>
            <li>Областная детской библиотекой им. Крылова.</li>
            <li>Юношеская библиотекой.</li>
            <li>Библиотека им. Лермонтова.</li>
            <li>Фундаментальная библиотека ЯГПУ им. Ушинского.</li>
            </ul>
            </li>
            <li>Спортивно-оздоровительные учреждения:
            <ul>
            <li>ДЮСШ.</li>
            </ul>
            </li>
            <li>Учреждения культуры:
            <ul>
            <li>Ярославская филармония.</li>
            <li>Театр им. Волкова;</li>
            <li>ТЮЗ;</li>
            <li>Кукольный театр.</li>
            </ul>
            </li>
            <li>Учреждения медико-психологической помощи:
            <ul>
            <li>Городской центр псхихолого-медико-социального сопровождения.</li>
            </ul>
            </li>
            <li>Медицинские учреждения:
            <ul>
            <li>Поликлиника № 1.</li>
            <li>Поликлиника № 2.</li>
            </ul>
            </li>
            <li>Учреждения отделов внутренних дел:
            <ul>
            <li>Кировский РОВД.</li>
            <li>Инспекция по делам несовершеннолетних.</li>
            <li>Опорный пункт охраны общественного порядка.</li>
            <li>УМВД России по Ярославской области.</li>
            </ul>
            </li>
            </ul>
        </p>
{% endblock %}