{% extends "index.html" %}
{% block title %}Новости{% endblock %}
{% block content %}

    <h2>Новости</h2>

    {% for new in news %}
        <div class="new_container">
            <a href="/new?new_id={{ new.id }}" style="float:left;"><img src="{{ new.image_url }}" style="height: 5rem"/></a>
            <h4><a href="/new?new_id={{ new.id }}">{{ new.title }}</a></h4>
            <p class="date-time">{{ new.date }}</p>
            <p class="new">{{ new.content }}</p>
        </div>
    {% endfor %}

{% endblock %}