{% extends "index.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <h2>Новости</h2>

    <h4>Диктант Победы 2023</h4>
    <p class="date-time">28.04.2023</p>
    <p class="new">27 апреля 2023 г. ученики 10-11 классов нашей школы приняли участие в Диктанте Победы.<br><br>
        Что такое Диктант Победы 2023? Это Всероссийская акция, организованная в 2019 году наряду с рядом иных акций, проведение которых осуществляется по всей стране.<br><br>
        
        Диктант Победы 2023 — одно из тех мероприятий, которое позволяет прикоснуться к исторической памяти, попробовать свои силы и узнать новое о прошедшей войне и её героях.<br><br>
        Задание, выполнение которого предусмотрено в рамках акции Диктант Победы, представляет собой тесты, на которые должен был ответить участник. Всего участникам предстояло дать ответы на 25 вопросов, в числе которых: снятие блокады Ленинграда, битвы за Москву, освобождение северной Норвегии и др. Вопросы касались не только знаний фактов, событий и дат того периода, но и песен, стихов и кинофильмов, посвященных Великой Победе.<br><br>
    </p>

    <h4>О режиме работы школы 9 и 10 января 2023 года</h4>
    <p class="date-time">08.01.2023</p>
    <p class="new">Информация по организации работы школы 09.01.2023 и 10.01.2023:<br><br>

        - для учащихся 1-4 классов это неучебный день;<br><br>
        
        - для учащихся 5-7 классах будет организовано очное обучение с использованием дистанционных технологий;<br><br>
        
        - для учащихся 8-11 классов будет организовано очное обучение на базе школы.<br><br>
        
        Родители (законные представители)  обучающихся 8-11 классов  самостоятельно принимают решение о посещении ребёнком образовательного учреждения и сообщают об этом классным руководителям   08.01.2023 до 15:00. Медицинская справка после отсутствия ребёнка на учебных занятиях из-за погодных условий 09.01.2023 и 10.01.2023 не нужна. Учащиеся 8-11 классов, отсутствующие на уроках в данный день, самостоятельно изучают  учебный материал и выполняют домашнее задание.  Администрация школы<br><br>
    </p>

    <h4>Утверждены сроки проведения ГИА-2023</h4>
    <p class="date-time">16.12.2022</p>
    <p class="new">
        Совместными приказами Минпросвещения РФ и Рособрнадзора утверждены сроки проведения единого государственного экзамена (ЕГЭ), основного государственного экзамена (ОГЭ) и государственного выпускного экзамена (ГВЭ) в 2023 году. Документы были зарегистрированы Минюстом России 14 декабря 2022 года.<br><br>

        В соответствии с документом, ЕГЭ в 2023 году в досрочный период пройдет с 20 марта по 19 апреля, в основной период – с 26 мая по 1 июля, в дополнительный период – с 6 по 19 сентября.<br><br>

        Проведение ОГЭ для выпускников 9 классов также разделено на три периода: досрочный (с 21 апреля по 16 мая), основной (с 24 мая по 1 июля) и дополнительный (с 4 по 23 сентября).<br><br>

        Основной период экзаменационной кампании 2023 года завершится 1 июля.<br><br>
    </p>

{% endblock %}