{% extends "index.html" %}
{% block title %}Для учеников{% endblock %}
{% block content %}
    <h2>Учащимся</h2>

    <b>Геометрия и искусство:  <a href="http://geometry-and-art.ru/">http://geometry-and-art.ru/</a></b></b><br><br>

    Красота начинается с формы. Это форма, взятая в единстве с содержанием. И в жизни, и в искусстве проявления красоты необычайно разнообразны. На этом сайте вы узнаете, как красота в искусстве связана с геометрией.<br><br>

    <b>Математика в помощь школьнику и студенту: <a href="http://mathtest.ru/">http://mathtest.ru/</a></b><br><br>

    На сайте каждый ребенок за 15 минут может проверить свой истинный уровень знаний по математике за любой класс.<br><br>

    <b>Математика и искусство: <a href="http://matematikaiskusstvo.ru/">http://matematikaiskusstvo.ru/</a></b><br><br>

    На этом сайте вы узнаете, как законы искусства сочетаются с законами математики.<br><br>

    <b>Математика с нуля: <a href="http://spacemath.xyz/">http://spacemath.xyz/</a></b><br><br>

    Темы школьной программы по математике с простыми и понятными объяснениями.<br><br>

    <b>Правила русского языка: <a href="https://therules.ru/">https://therules.ru/</a></b><br><br>

    Свод правил русского правописания.<br><br>

    <b>Справочно-информационный портал ГРАМОТА.РУ: <a href="http://gramota.ru/biblio/reading/">http://gramota.ru/biblio/reading/</a></b><br><br>

    Всё, что вы хотите узнать о русском языке – интересное, полезное, совершенно необходимое – вы найдёте на этом сайте.<br><br>

    <b>Великая Французская революция: <a href="http://larevolution.ru/">http://larevolution.ru/</a></b><br><br>

    Красиво сделанный сайт о французской революции, ее героях и политических деятелях, много исторических справок, в частности, о происхождении слов, а также общественной жизни Франции XVIII столетия.<br><br>

    <b>Древний Египет: <a href="http://www.egyptmif.ru/">http://www.egyptmif.ru/</a></b><br><br>

    На сайте можно узнать о жизни Древнего Египта: быте, традициях, религии, науке, искусстве и многом другом.<br><br>

    <b>Отечественная война 1812 года. Эпоха в документах, воспоминаниях, иллюстрациях: <a href="http://www.1812.rsl.ru">http://www.1812.rsl.ru</a></b><br><br>

    Сайт посвящен Отечественной войне 1812 года. Книги, карты, рукописи, артефакты, картинная галерея.<br><br>

    <b>Победа. 1941 – 1945: <a href="http://victory.rusarchives.ru/">http://victory.rusarchives.ru/</a></b><br><br>

    В архиве размещены фото- и кинодокументы, связанные с Великой Отечественной войной.<br><br>

    <b>100 великих полководцев: <a href="http://100.histrf.ru/">http://100.histrf.ru/</a></b><br><br>

    Страница федерального информационного портала ИСТОРИЯ.РФ, посвященная выдающимся военачальникам нашей страны.<br><br>

    <b>Библиогид. Книги и дети: <a href="http://bibliogid.ru/">http://bibliogid.ru/</a></b><br><br>

    Обзоры новых книг, о книгах одной строкой. О писателях и читателях. Портреты книг.<br><br>

    <b>Книги детства: <a href="http://книгидетства.рф/">http://книгидетства.рф/</a></b><br><br>

    На этом сайте размещается коллекция замечательных детских книг, любимых несколькими поколениями читателей.<br><br>

    <b>Страны, государства, материки планеты Земля: <a href="http://country.in.ua/">http://country.in.ua/</a></b><br><br>

    Атлас мира в формате сайта. Дана основная информация в сопровождении фотографий и карт.<br><br>

    <b>Мир природы. Энциклопедия для детей: <a href="http://www.worldofnature.ru">http://www.worldofnature.ru</a></b><br><br>

    Природа и наука, изобретения и изобретатели, страны и народы, фольклор и подвижные игры: детская энциклопедия расскажет обо всем.<br><br>

    <b>Сезоны года: <a href="https://сезоны-года.рф/">https://сезоны-года.рф/</a></b><br><br>

    «Сезоны года» – это журнал о природе, временах года и окружающем мире. Материалы можно использовать для ознакомления детей с природой, в помощь школьникам при подготовке к урокам. Публикации пригодятся воспитателю, учителю и будут интересны любителям природы.<br><br>

    <b>Чудеса природы: <a href="http://wondnature.ru">http://wondnature.ru</a></b><br><br>

    Сайт «Чудеса природы» посвящен планете Земля, ее самым прекрасным уголкам, которые поистине являются настоящими чудесами, – Байкал, водопад Анхель, Мертвое море, Курильские острова и многое другое.<br><br>

    <b>Занимательная- физика.рф: <a href="https://www.afizika.ru/">https://www.afizika.ru/</a></b><br><br>

    На сайте в доступной наглядной форме объясняются многочисленные физические явления.<br><br>

    <b>Класс!ная физика: <a href="http://class-fizika.ru/">http://class-fizika.ru/</a></b><br><br>

    Интересные материалы по физике для школьников, учителей и всех любознательных.<br><br>

    <b>Таблица Менделеева: <a href="https://pt.kle.cz/ru_RU/index.html">https://pt.kle.cz/ru_RU/index.html</a></b><br><br>

    Периодическая система химических элементов. Информацию об элементах можно прочитать на 11 языках.<br><br>

    <b>Азбука цифрового мира. Простым языком о сложных вещах: <a href="https://www.edu.yar.ru/azbuka/">https://www.edu.yar.ru/azbuka/</a></b><br><br>

    На сайте можно узнать о сервисах Интернета и правилах безопасной работы в сети.<br><br>

    <b>Линия помощи «Дети онлайн»: <a href="http://detionline.com/helpline/about/">http://detionline.com/helpline/about/</a></b><br><br>

    Бесплатная Всероссийская служба телефонного и онлайн-консультирования для детей и взрослых по проблемам безопасного использования Интернета и мобильной связи. Проект Фонда развития Интернета.<br><br>
{% endblock %}